
* {
  box-sizing: border-box;
}
#rooms{
  max-width: max-content;
  height: max-content;
}

section {
  width: 1560px;
  border: 1px solid black;
  border-width: 2px;
  padding: 2rem;
}

.flex-vertical {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem;
}



.flex-horizontal {
  display: flex;
  justify-content: space-between;
}


#top-ui {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom:4rem;
}

#bottom-ui {

  align-items: flex-end;
  position: relative;
  margin-top:30rem;
}
div {
  height: max-content;
}

#objectives {
  width: 175px;
  border: 1px solid black;
  border-width: 2px;
  padding: 4rem;
}



#hintButton{
  width: 175px;
  height: 50px;
  border-radius: 8px;

}

#itemDiv1{
  padding: 0;
  width: 30rem;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.itemslot > img{
  width: 96px;
  height: 96px;
}

.itemslot{
  
  min-height: 96px;
}
#inventory{

  margin-bottom: 5rem;
}
/* leader board CSS */

#lbHead {
  height: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: blueviolet;
  border: .5rem solid black;
  text-align: center;
  
}
#lbHead h1{
  font-family: 'Special Elite', cursive;
  font-size: 6rem;
}
#lbMain{
  height: 55rem;
  display: block;
  
}
#lbMain ul {
  margin-left: 15rem;
  margin-right: 15rem;
  border: .2rem solid black;
  height: 45rem;
  overflow: auto;
}
#reset {
  
  text-align: center;
}
#reset a {
  
  padding: .3rem;
  border: .5rem solid black;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  font-size: 2rem;

}

footer{
  text-align: center;
}

/* about-us */

 h2 {
  font-size: 40px;
  text-align: center;
  border-style: solid;
  background-color: blueviolet;
  padding: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

h3 {
  border-style: solid;
  width: 70px;
  height: 50px;
  text-align: center;
  position: relative;
}

header {
  margin-bottom: 0;
}

 .aboutMe {
  font-size: 1.25rem;
  font-style: italic;
}

.intro {
  display: flex;
  width: 1700px;
  margin: 6rem auto;
  align-items: center;
  justify-content: space-between;
  
}

h4{
  font-size: 1.5rem;
  
}